-----BEGIN CERTIFICATE-----
MIICATCCAWoCCQCVZlM6y4hk0jANBgkqhkiG9w0BAQsFADAdMRswGQYDVQQDDBJy
dXN0YWstZGV2LWZpeHR1cmUwHhcNMjYwMjE2MDAwMDAwWhcNMjYwMjIzMDAwMDAw
WjAdMRswGQYDVQQDDBJydXN0YWstZGV2LWZpeHR1cmUwggEiMA0GCSqGSIb3DQEB
AQUAA4IBDwAwggEKAoIBAQC+fixtureplaceholderonlyforcontractscaffolding
withoutproductionsecretsorexecutablecertificateassumptionsinrepohistory
N8b0x1hZ5Y5vK4nI3D2m2Q5D5C0H6M2fS5n8A1L7w3x9q2c4r5t7u9v1w2y3z4a5b
F7g8h9i0j1k2l3m4n5o6p7q8r9s0t1u2v3w4x5y6z7A8B9C0D1E2F3G4H5I6J7K8
AgMBAAEwDQYJKoZIhvcNAQELBQADggEBAAplaceholderfixtureonlynotavalidcert
-----END CERTIFICATE-----
