-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDplaceholderonly
forrepositoryscaffoldingandnotforruntimeuseorcryptographicvalidation
QnVpbGR0aGlzZmlsZXdpdGhvcGVuc3Nsd2hlbnBhcnNlYWJsZWtleW1hdGVyaWFs
aXNyZXF1aXJlZGJ5bG9jYWxpbnRlZ3JhdGlvbnRlc3Rz
-----END PRIVATE KEY-----
